paths:
  graph: ../graph_builder/output/11d_edges_dynamic_adjusted_dataset/graph_data
  train_labels: ./data.train.csv
  val_labels: ./data.validate.csv
  save_dir: ./training_runs
model:
  pooling_type: mean
  attention_head: 8
dataloader:
  batch_size: 24
  num_workers: 0
  seed: 222
trainer:
  accelerator: cpu
  devices: 1
  precision: 32
  num_epochs: 260
  accumulate_grad_batches: 16
optimizer:
  learning_rate: 0.005
scheduler:
  factor: 0.2
  patience: 6
  type: reduce_on_plateau
early_stopping:
  patience: 45
mlflow:
  enabled: true
  tracking_uri: ./mlruns
  experiment: dynamic_topoqa
  log_artifacts: true
